*{
    width: auto;
    padding: 0;
    margin: 0;

}

nav,
body,
footer { 
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

label {
    font-size: 38px;
    font-weight: bolder;
}

.container {
    display: block;
    width: 100%;
    padding: 2%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%
}
  
.row::after {
    display: block;
    clear: both;
    content: "";
}
ul { list-style: none;}
h4 {
    font-weight: 500;
    margin: 10px 0;
}
a {
    text-decoration: none;
    color: #000;
}
/* ######## Nav Bar ########## */

nav {
    background-color: #e7131a;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* nav img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 40px;
} */

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav {
    padding: 5 70;
    align-items: center;
}

ul.topnav li {
    list-style: none;
    /* align-items: center; */
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

#logo {
    /* width : 156px;
    height: 35px;  */
    padding: 0px;
}

ul.topnav li a {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,
    "Helvetica Neue",sans-serif;
    display: block;
    min-height: 16px; 
    padding: 20px 12px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;

}

ul.topnav li a:hover {
    background-color: #cc1b21;
    border-radius: 4px;
    color: white;
}

ul.topnav li button {
    height: 40px;
    width: 100px;
    margin: 8px 4px;
    background: #fff;
    border: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

ul.topnav li button a {
    float: right;
    color: black;
    background: #fff;
    padding: 20px;
    font-weight: bolder;
    /* padding: 6px; */
}

ul.topnav li.topnav-right-1 {
    background: #e7131a;
}

.article-main{
    text-align: cen
} 

     
.article-side-right{
 float: right;
}

/* last Section before footer */
.fullLastSection {
    margin: 0 90px;
    padding-top: 10px;
}
.redLastHeader{
    margin-bottom: 15px;
    color: #e7131a;
}
.articleFlex {
    display: flex;
    /* flex-flow: row nowrap;  */
}
.standalone {
    padding-right: 30px;
    /* flex: 0 0 5%; */
}
.standalone > img {
    height: 150;
    width: 250;
    border-radius: 1px;
}
.standalone span {
    color: darkgrey;
    font-size: 12px;
}
.lastSection2 {
    margin-top: 15px;
}
/* .last-entry {
    display: flex;
    flex-basis: 16%;
} */
.columns {
    width: 16%;
    padding-right: 4%;
}

/* Footer */
footer{
    background-color: black;
    margin: 0;
    max-width: 100%;
}
.main-foot{
    background-color: black;
    color: white;
    margin-top: 10px;
}
.main1{
    margin-top: 20px;
}
.main-foot a {
    text-decoration: none;
    font-family: cursive;
    cursor: pointer;
    list-style-type: none;
    color: white;
    font-size: 18px;
    margin-bottom: 5.8px;
}
input {
    float:right;
    position: relative;
    top: 30px;    
}
.foot-list-head{
    padding: 30px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.foot-list-head li {
    line-height:  140%;   
}
/* subscribe button */
.last-list button {
    padding: 15px;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    /* position: relative; */
    /* top: 30px; */

}
.last-list button:hover{
    background-color: red;
    color: black;
    border: 1px solid black;
}

/* footer last part */
.footer-text{
    color: white ;
    display: flex;
    border-top: 1px solid white;
    margin: 0;
    max-width: 100%;
    margin-top: 100px;
   
}
.punch-text{
   margin-right: 50px;
   margin-left:15px ;
   margin-top: 50px;
   margin-bottom: 50px;
}
.about-class{
    max-width: 100%;
}
.about-class ul{
    list-style-type: none;
    display: flex;
   
}
.about-class a {
    text-decoration: none;
    color: white;
   
}
.about-class li {
  padding-right: 15px;
}
.dash-dash{
    padding-right: 10px;
}
.social-media{text-align: center;
    position: relative;
    left: 10%;
    /* float: left; */
    display: flex;    
    max-width: 100%;
    padding: 15px;
    margin: 0%;
}
.social-media p{
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    margin-right: 15px;
    font-size: 19px;
}

.social-media button{
  margin-right: 10px;
  padding: 10px;
  border: 1px black solid;
  border-radius: 5px;
}

.social-media button:hover{
    background-color: rgb(212, 53, 53);
}
 
